.form {
  display: flex;
  flex-direction: column;
}
.registration-form {
  /* background-color: rgb(201, 201, 212); */
  /* padding:  */
  width: 500px;
  height: 250px;
  /* margin: 50px; */
  border-radius: 5%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
